<!doctype html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>

  <body class="container-fluid">
    <header>
      <% include partials/header %>
    </header>

    <main>
      <h1 class="main-header">This is my API test page</h1>
    </main>

    <footer>
      <% include partials/footer %>
    </footer>
  </body>
</html>
