<!doctype html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>

  <body class="container-fluid">
    <header>
      <% include partials/header %>
    </header>
    <main>
      <h1 class="main-header">Search an item to see its calories</h1>
      <a href="/calorieresults" class="btn btn-success">Fetch Calories</a>
    </main>

    <footer>
      <% include partials/footer %>
    </footer>
  </body>
</html>
