<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>

    <% include partials/header %>
    <div id="main-header-container">
      <h1 id="main-header">An extremely simple Diet Tracker</h1>
      <h4> Project 2 - MEN Stack Application</h4>
    </div>
    <div class="container">
      <div class="row">
        <div class="col m6 block-text">
          <a href="/signup" class="btn btn-success btn-cta">Sign Up</a>
        </div>
        <div class="col m6 block-text">
          <a href="/api" class="btn btn-success btn-cta">API Test</a>
        </div>
        <div id="first-paragraph" class="col m6 block-text">
          Brooklyn health goth tote bag ethical. Green juice XOXO iPhone stumptown, church-key meggings cardigan seitan authentic master cleanse synth chartreuse gastropub. XOXO chia organic neutra pickled. Craft beer flexitarian crucifix fanny pack, jean shorts green juice chillwave man bun gochujang selvage blog whatever poutine polaroid lomo. Pinterest tattooed etsy readymade four loko, roof party mlkshk 90's tote bag retro cornhole. XOXO kombucha brunch, sustainable man bun poutine twee deep v helvetica tacos portland hella venmo food truck. Everyday carry bushwick chambray master cleanse polaroid franzen.
        </div>
        <div class="col m6 block-text">
          Echo park truffaut put a bird on it shoreditch fingerstache tilde tofu, brooklyn health goth tote bag ethical. Green juice XOXO iPhone stumptown, church-key meggings cardigan seitan authentic master cleanse synth chartreuse gastropub. XOXO chia organic neutra pickled. Craft beer flexitarian crucifix fanny pack, jean shorts green juice chillwave man bun gochujang selvage blog whatever poutine polaroid lomo. Pinterest tattooed etsy readymade four loko, roof party mlkshk 90's tote bag retro cornhole.
        </div>
      </div>
    </div>
    <% include partials/scripts %>
  </body>
</html>
