<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div>
      <h2 class="header">My Food Journal </h2>
      <% entries.forEach(function(entry) { %>
        <ul class="collection">
          <form method="POST" action="/entries/<%= entry._id %>?_method=DELETE">
            <a href="/entries/<%= entry.id %>" class="collection-item">
            <%= entry.meal + ' - ' + entry.food + ' - ' + entry.date %>
            <!-- <button type="submit" class="icon-button">
              <i class="material-icons">delete</i>
            </button> -->
            </a>
          </form>
        </ul>
      <% }) %>
    </div>
    <a href="entries/new" id="add-entry" class="btn btn-success">Add Entry</a>

  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
