<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div>
      <h3>Entries: </h3>
      <a href="entries/new" class="btn btn-success">Add Entry</a>
      <% entries.forEach(function(entry) { %>
        <h4>
          <form method="POST" action="/entries/<%= entry._id %>?_method=DELETE">
            <a href="/entries/<%= entry.id %>">
            <%= entry.meal + ' - ' + entry.food + ' - ' + entry.date %>
            </a>
            <button type="submit" class="btn btn-xs btn-danger">Delete</button>
          </form>
        </h4>
      <% }) %>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
