<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div>
        <div>
          <h3>View Entry</h3>
          <p>Date: <%= entry.date %></p>
          <p>Meal: <%= entry.meal %></p>
          <p>Food: <%= entry.food %></p>
        <a href="/entries" class="btn btn-danger">Back</a>
      <a href="/entries/<%= entry.id %>/edit" class="btn btn-success">Edit</a>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
