html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #70bg32;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( to top right, #34b3a0, #204056) !important;
    background: -moz-linear-gradient( to top right, #34b3a0, #204056) !important;
    background: -ms-linear-gradient(to top right, #34b3a0, #204056) !important;
    background: -o-linear-gradient(to top right, #34b3a0, #204056) !important;
    background: linear-gradient(to top right, #34b3a0, #204056) !important;
}
body {
  font-family: 'Raleway', sans-serif;
  color: white;
  background-color: transparent;
}

h1 {
  font-family: 'Raleway', sans-serif;
}
.btn {
  background: none;
  border: 2px solid white;
  padding: 15px 25px;
  margin-right: 50px;
  margin-top: 50px;
  opacity: .5;
}

.btn:hover {
  background: none;
  opacity: 1;
  border: 2px solid white;
}

#add-entry:active {
  background: none;
  opacity: .5;
  border: 2px solid white;
}

#add-entry:visited {
  background: none;
  opacity: .5;
  border: 2px solid white;
}

.navbar-default {

  border: none;
}

a {
  color: white;
}

.icon-button {
  background: #663f7d;
  border: none;
}

#add-entry {
  margin-bottom: 75px;
}

input {
  color: black !important;
}

form {
  max-width: 50%;
  margin: auto
}

#copyright {
  margin-top: 150px;
}

.btn-success {
  float: right;
}
